.container {
  top: 0;
}

#card_all_hidden {
  display: none;
  visibility: hidden;
}
#card_ok {
  top: 0;
  position: fixed;
}
.card {
    max-width: 800px;
    margin:    0 auto;
    top:       65px;

}

.card-header {
    justify-content: center;
    padding: 10px 0px;
}


.card-content{
  width: 100%;
  height: 100%;
  position: relative;
  //background-color: green;
}

// Random serie
.text-highlighted {
  color: #d65cb8;
  font-weight: bolder;
  font-size: 4rem;
}
