html,
body {
  font-size: 16px;
  font-family: Noto Sans;
  color: #595959;
  height: 100%;
}
main {
  width: 100%;
  height: 90%;
}
#content {
  //top: 150px;
  //height: 100vh;
  height: 90%;
  margin-top: 20px;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Update CSS variables */
  }
}

section {
  width: 50%;
  display: block;
  left: 800px;
  top: 0px;
}
aside { // left side menu or list
  font-size: 12px;
  overflow: auto;
  width: 40%;
  height: 100%;
  overflow: auto;
  display: block;
}
#details{
  top: 80px;
  position: absolute;
  z-index: 10;
  left: 42%;
  width: 50%;
  height: 800px;
  display: block;
}


[data-theme=dark],
.theme-dark {
  /* Update CSS variables */
}
p {
    padding: 0px;
    marging: 0px;
}
tr:hover{
  color: #36454F;
  background-color: #d65c99;
}
.tr-selected {
  background-color: #b72e73;
}
a {
  color: #36454F;
}
a:hover {
  color: #b72e73;
}
.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 48px;
  z-index: 1;
  text-align: right;
  //opacity: 0.6;
}
footer{
  padding: 1rem 2rem 1rem !important;
}
.footer_icon {
  margin-left: 10px; margin-right: 10px;
}
.footer_icon:hover {
  opacity: 1;
}
