html,
body {
  font-size: 16px;
  font-family: Noto Sans;
  color: #595959;
  height: 100vh;
}
main {
  width: 100%;
  padding: 10px;
  margin: 10px;
  //place-items: center;
  //position: absolute;
  //display: block;
  top: 150px;
  //left: 50%;
  //transform: translate(-50%, -50%);
  padding-bottom: 180px;
  height: 100vh;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Update CSS variables */
  }
}

section {
  width: 50%;
  display: block;
  left: 800px;
  top: 0px;
}
aside { // left side menu or list
  font-size: 12px;
  overflow: auto;
  width: 40%;
  height: 80%;
  overflow: auto;
  display: block;
}
#details{
  top: 80px;
  position: absolute;
  z-index: 10;
  left: 42%;
  width: 50%;
  height: 800px;
  display: block;
}

#content {
  top: 150px;
  height: 100vh;

}
[data-theme=dark],
.theme-dark {
  /* Update CSS variables */
}
p {
    padding: 0px;
    marging: 0px;
}
tr:hover{
  color: #36454F;
  background-color: #d65c99;
}
.tr-selected {
  background-color: #b72e73;
}
a {
  color: #36454F;
}
a:hover {
  color: #b72e73;
}
